<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @application.token %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @application.environment %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
